---
title: Qubix SMP
---

<img src="images/Q.png" alt="Italian Trulli">

<h1>
  Minecraft SMP
</h1>

<%= link_to(
  "Apply",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
